

<div class="my-garden-welcome">
<h1 class="my-garden">Here are your plants from your home, <%= @user.first_name %>.</h1>
<div id="plus-button"><a href="/plants/new">+</a></div>
</div>
<div class="my-garden-wrapper">
<ol>
<% @user.plants.each do |plant| %>
  <div class="my-plant">
    <li><span id="my-plant-name" class="my-plant-label">Name </span>"<%= plant.name %>"</li>
    <li><span class="my-plant-label">Species </span><%= plant.species %></li>
    <li><span class="my-plant-label">Water </span><%= plant.water %>/3</li>
    <li><span class="my-plant-label">Light </span><%= plant.light %>/4</li>
    <li><span class="my-plant-label">Temperature </span><%= plant.temperature %>/3</li>
    <li><span class="my-plant-label">Humidity </span><%= plant.humidity %>/3</li>
    <li><span class="my-plant-label">Soil </span><%= plant.soil %></li>
    
    <div class="edit-delete">
    <a id="edit"href="/plants/<%= plant.id %>/edit">Edit</a>
    <form method="POST" action="/plants/<%= plant.id %>">
    <input type="hidden" id="hidden" name="_method" value="DELETE">

    <input class="submit" type="submit" value="Delete">
    </form>
  </div>

  </div>
<% end %> 
</ol>
</div>