
<h1>Here are your plants from your home, <%= @user.first %></h1>
<div>
<a href="/plants/new">Add Plant</a>
</div>

<ol>
<% @user.plants.each do |plant| %>
  <div>
    <li><%= plant.name %></li><a href="/plants/<%= plant.id %>/edit">Edit</a>
    <li><%= plant.species %></li>
    <li><%= plant.temperature %></li>

  </div>
<% end %> 
</ol>
