<% Plant.all.each do |plant| %>
    <div class="plant-post-wrapper">
        <div class="plant-post">
            <div class="plant-post-title">
                <a class="plant-name" href="/plants/<%= plant.id %>">"<%= plant.name %>"</a>
                <span class="plant-species"><%= plant.species %></span>
            </div>
            
            <div class="plant-post-specs">
                <div><span class="plant-water slider">Water <%= plant.water %></span><div class="slider"></div></div>
                <div><span class="plant-light slider">Light <%= plant.light %></span><div class="slider"></div></div>
                <div><span class="plant-temperature slider">Temperature <%= plant.temperature %></span><div class="slider"></div></div>
                <div><span class="plant-humidity slider">Humidity <%= plant.humidity %></span><div class="slider"></div></div>
                <div><span class="plant-soil slider">Humidity <%= plant.soil %></span><div class="slider"></div></div>
            </div>

            <div class="plant-post-owner">
                <span class="plant-owner">User <%= plant.user.first_name %></span>
            </div>

        </div>
    </div>
<% end %>