<div class="plant-post-wrapper">
<% soils = ["Add 2 to 3 ounces of 20 percent superphosphate and ¾ ounce of either bonemeal or dolomitic limestone (by weight) to 4 gallons of potting mix. After sterilizing the soil (see “How to Sterilize Soil”), add 3 tablespoons of a 6-6-6 or similarly balanced fertilizer to every 4 gallons (½ bushel) of mix. Add a minor element formulation according to the manufacturer’s recommendations.", "Add 2 to 3 ounces (dry weight) of dolomitic limestone to 4 gallons (½ bushel) of mix. For fluoride-sensitive plants, adjust the pH so it is no lower than pH 6.5. Superphosphate contains enough fluoride to cause foliar burn on sensitive plants. After sterilizing the soil, add 3 tablespoons of a 6-6-6 or another fertilizer such as 5-10-5 to each ½ bushel. Plastic-coated fertilizers also can be used; most of them require about 2 ounces per ½ bushel. Add a minor element formulation to the potting mix per the manufacturer’s recommendation.", "Add 2 ounces of dolomitic limestone to 4 gallons (½ bushel) of soil mix and a minor element mix. Dissolve 1 ounce of 10-10-10 water-soluble fertilizer in 3 gallons of water. Use this solution after repotting and again monthly when watering. Also, add enough water to fill the vase formed by the overlapping leaf bases.", "3 parts osmunda tree fern fiber (moisten before use by soaking in water for 12 hours) 1 part redwood bark OR 5 parts fir bark 1 part per litre"] %>
    <% Plant.all.reverse.each do |plant| %>
        <div class="plant-post">
            <div class="plant-post-title">
                <a class="plant-name" href="/plants/<%= plant.id %>">"<%= plant.name %>"</a>
                <span class="plant-species"><%= plant.species %></span>
            </div>
            
            <div class="plant-post-specs">
                <div class="metrics">
                    <div><span class="plant-water slider">Water <%= plant.water %>/3</span><div class="slider"></div></div>
                    <div><span class="plant-light slider">Light <%= plant.light %>/4</span><div class="slider"></div></div>
                    <div><span class="plant-temperature slider">Temperature <%= plant.temperature %>/3</span><div class="slider"></div></div>
                    <div><span class="plant-humidity slider">Humidity <%= plant.humidity %>/3</span><div class="slider"></div></div>
                </div>
                <div><span class="plant-soil">Soil <br><%= soils.sample %><%= plant.soil %></span></div>
                <div><span class="plant-comments">Comments <br><%= plant.comments %></div>
            </div>

            <div class="plant-post-owner">
                <span class="plant-owner">@_<%= plant.user.first_name %></span>
            </div>

        </div>
    <% end %>
</div>