Show page for the Plant newly created from the /new path.

<h2><%= @plant.name %></h2>
<h2><%= @plant.species %></h2>
<h2><%= @plant.temperature %></h2>
<h2><%= @plant.humidity %></h2>
<h2><%= @plant.water %></h2>
<h2><%= @plant.light %></h2>
<h2><%= @plant.soil %></h2>

